* {
  font-family: 'IBM Plex Mono', monospace;
}

.resume-div {
  background-color: #222;
  color: white;
  padding-left: 5px;
}

.resume-page a {
  text-decoration: none;
}

.nav {
  font-size: 1.5rem;
}

.blog {
  /* display: list-item;
  list-style-type: disc;
  list-style-position: inside; */
  margin-bottom: 15px;
}

.blog a:hover{
  text-decoration: none;
}

#home {
  font-size: 1.75rem;
}

body {
  font-size: 1.25rem;
}

.App {
  margin-top: 3%
}
#ascii {
  font-size: 3px;
  line-height: 3px;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
  /* color:red; */
  cursor:pointer;
}

@media only screen and (max-width: 600px) {

  .nav {
    font-size: 1rem;
  }

  #home {
    font-size: 1.5rem;
  }

  .phone-links {
    padding-top: 12px;
  }
}
