* {
}

.monospace{
  font-family: 'IBM Plex Mono', monospace;
}

.colorfull{
  font-family: 'Josefin Sans', sans-serif;
}

.monospace-nav-bar {
  background-color: #222;
  color: white;
}

.colorfull-nav-bar {
  background-color: blue;
  color: white;
}

a:hover{
  text-decoration: none;
}
.resume-div-monospace {
  background-color: #222;
  color: white;
  padding-left: 5px;
  padding-bottom: 2px;
}

.resume-div-colorfull {
  background-color: blue;
  color: white;
  padding-left: 5px;
  padding-top: 5px;
}

.resume-page a {
  text-decoration: none;
}

.nav {
  font-size: 1.5rem;
}

ul.selected {
  list-style-type: disc;
}

ul.styles-list {
  list-style-type: none;
}

.blog {
  /* display: list-item;
  list-style-type: disc;
  list-style-position: inside; */
  margin-bottom: 15px;
}

.blog a:hover{
  text-decoration: none;
}

#home {
  font-size: 1.75rem;
}

body {
  font-size: 1.25rem;
}

.App {
  margin-top: 3%
}
#ascii {
  font-size: 2.5px;
  line-height: 3px;
}

.contact-icons{
  margin-right: 5px;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
  /* color:red; */
  cursor:pointer;
}

@media only screen and (max-width: 600px) {

  .nav {
    font-size: 1rem;
  }

  #home {
    font-size: 1.5rem;
  }

  #contact-info {
    font-size: 1.2rem;
  }

  .phone-links {
    padding-top: 12px;
  }
}
